h1,h2{
	text-align: center;
	color:#ffffff
}

.job-listing{
	color: #add8e6;
	max-width: 100%;
	width: 100%;
}

p{
	color:#ffffff
}

body{
	background: black
}

.item-inner{
	text-align:center;
	img{
		margin:0 auto;
	}
}

.carousel-caption h1,h2,h3,h4,h5,h6{
   color:#ffffff;	
}
